<div *ngIf="errorMessage !== null" class="error-message-box">
    {{errorMessage}}
</div>
<h1>{{quest.title}}</h1>

<div class="questListItemPropertyInfo">Create time: {{quest.createTime | date}}</div>
<div class="questListItemPropertyInfo">Update time: {{quest.updateTime | date}}</div>

<ng-container *ngIf="quest.approvedTime !== null; then approvedTime else notApprovedText"></ng-container>
<ng-template #approvedTime>
    <div class="questListItemPropertyInfo">Approve completion time: {{quest.approvedTime | date}}</div>
</ng-template>
<ng-template #notApprovedText>
    <div class="questListItemPropertyInfo">Completion not approved</div>
</ng-template>

<div>
    <button mat-raised-button color="primary" (click)="approveCompletion()" [disabled]="!canApproveCompletion">
        <mat-icon>check_circle</mat-icon>
        Approve completion
    </button>
    <button mat-raised-button color="primary" (click)="editQuest()" [disabled]="!canEdit">
        <mat-icon>edit</mat-icon>
        Edit
    </button>
    <button mat-raised-button color="primary" (click)="deleteQuest()">
        <mat-icon>delete</mat-icon>
        Delete
    </button>
</div>
<div>
    <app-quest-item *ngFor="let item of quest.questItems" [questItem]="item" [canEdit]="canEdit"
        (questItemProgressChange)="handleQuestItemProgressChange($event)">
    </app-quest-item>
</div>