.questItemList{
    padding: 10px;
    border: groove;
    border-color: gray;
    border-radius: 5px;
    margin-bottom: 5px;
    width: max-content;
}

.questItemDeleteButton{
    margin-left: 5px;;
}