@using QueReal.PL.Models.Quest
@model QuestViewModel

<h1 class="quest-header">@Model.Title</h1>
<div class="date-block">
	<span>Created at: <span>@Model.CreateTime</span></span>
	<span>Updated at: <span>@Model.UpdateTime</span></span>
</div>
<div class="utility-buttons">
	@Html.ActionLink("Edit", "Edit", "Quest", new { questId = Model.Id }, new { @class="update-button"})
	<button class="remove-button" id="deleteButton">Delete</button>
</div>
<h2>Items</h2>
<div id="questItemListControl" class="quest-item-block"></div>

<script>
	const items = JSON.parse(`@(Model?.QuestItems != null ? Json.Serialize(Model.QuestItems) : "[]")`);

	app.renderQuestViewItemListControl("questItemListControl", items);
</script>

<script>
	(function () {
		const deleteButton = document.getElementById("deleteButton");

		function deleteQuest() {
			deleteButton.disabled = true;

			return fetch("/Quest/Delete?questId=@Model.Id", {
				method: "DELETE"
			}).then(response => {
				location.href = "/Quest"
			}).finally(() => deleteButton.disabled = false);
		}

		deleteButton.onclick = deleteQuest;
	})();
</script>