/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button{
    margin-left: 5px;
}

.mat-typography h1 {
    font-size: xx-large;
}

.error-message-box {
    background-color: lightcoral;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
